$themeColor: rgb(23, 28, 32);
$buttonColor: rgb(151, 166, 169);

$postColor: rgb(118, 149, 174);
$postBorderColor: rgb(151, 166, 169);
$postPanelComments: rgb(153, 215, 227);
$postPanelCreator: rgb(141, 190, 200);

$formColor: rgb(44, 52, 58);

$commentColor: rgb(167, 195, 201);
