.post {
    background: $postColor;
    min-height: 50px;
    word-wrap: break-word;
}

.post__wrapper {
    border: 4px solid $postBorderColor;
    border-bottom: none;
}

.post__info {
    display: flex;
    margin: 0 5%;

    .info__user-name {
        font-weight: 700;
        font-size: 16px;
    }

    .info__date {
        margin-left: 20px;
    }
}

.post__text {
    margin: 10px 1.5% 0;
    padding-bottom: 10px;
}

.post__panel-comments {
    background-color: $postPanelComments;

    .panel-comments__comments {
        padding: 3px 0;
    }

    .panel-comments__creator {
        text-align: center;
        background-color: $postPanelCreator;
        display: flex;
        flex-direction: column;

        .creator__open {
            cursor: pointer;
        }

        div {
            display: flex;
            flex-direction: row;
        }

        .creator__name {
            margin: 5px 1.5%;

            input {
                width: 100px;
            }
        }

        .creator__text {
            textarea {
                margin: 5px 1.5%;
                min-height: 30px;
                resize: none;
                width: 80%;
            }
        }

        .creator__add {
            align-self: center;
            justify-content: center;
            width: 50px;
            border-radius: 50px;
            outline: none;
            border: none;
            line-height: 30px;
            font-size: 17px;
            font-weight: 600;
            text-decoration: none;
            color: #385898;
            background-color: #e7f3ff;
            cursor: pointer;
            user-select: none;
            appearance: none;
            touch-action: manipulation;

            &:focus-visible {
                box-shadow: 0 0 0 2px #666;
            }
            &:hover {
                background-color: #dbe7f2;
            }
            &:active {
                transform: scale(0.96);
            }
            &:disabled {
                pointer-events: none;
                opacity: 0.65;
            }
        }
    }
}
